<!-- boton-hamburguesa.component.html -->
<button class="hamburger-button" (click)="toggleMenu()">
  <div class="hamburger-line"></div>
  <div class="hamburger-line"></div>
  <div class="hamburger-line"></div>
</button>

<div class="menu-container" *ngIf="isMenuOpen">
  <button class="menu-button skin-button" (click)="changePage('Mascotas')">
    <img src="/img/gancho-de-ropa.png" alt="Mascotas" class="skin-icon" />
  </button>
  <button class="menu-button user-button" (click)="changePage('Usuario')"></button>
  <button class="menu-button support-button" (click)="changePage('Soporte')"></button>
</div>