<p-card [style]="{ width: '135vh', overflow: 'hidden', background: 'white', height: '85vh'}">
    <div class = "Container">
        <app-boton></app-boton>
        <app-boton-hamburguesa></app-boton-hamburguesa>
    </div>
    <div class = "Container-Flechas">
        <app-flechas></app-flechas>
        <app-flechas></app-flechas>
    </div>
    <div class  = "Container-Rueda">
        <app-boton></app-boton>
        <app-boton></app-boton>
        <app-boton></app-boton>
        <app-boton></app-boton>
    </div>
</p-card>